{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card col-sm-4 offset-sm-4" style="width: 20rem;">
    <img src="{{ user.profile.image.url }}" class="card-img-top rounded-circle z-depth-2" alt="DP">
    <div class="card-body">
        <h1 class="card-title">{{ user.username }}</h1>
        <p class="card-text">{{ user.email }}</p>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-success" type="submit">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    Update
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}